<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/foundation_and_overrides.scss">
</head>

<div class="medium-6 medium-centered columns float right">
  </div>

<div id="front_page_container" class="medium-8 medium-centered text-center columns">
  <div class="row">
  </div>
</div>

<div id="box-container">

    <br> <br> <%= button_tag(type: 'button') do %>

    <h1 style="color:yellow"> <%= @card.back %>
    <ul><%= link_to 'Tap to flip card', deck_card_path(@card, :id) %></ul>

    <ul> <%= content_tag(:strong,'Tap to flip the card') %> </ul>

    <% end %></h1>

</div>
