
<%= form_for @card, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>



       <label for="spanish">
         Spanish
       </label>
       <ul> <input id="spanish" name= "spanish" type="text"/> </ul>


       <label for="english">
         English
       </label>
       <ul> <input id="english" name= "english" type="text"/> </ul>



    <%= f.submit "Create" %>
<% end %>
