<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/foundation_and_overrides.scss">
</head>

<div class="medium-6 medium-centered columns float right">
  </div>

<div id="front_page_container" class="medium-8 medium-centered text-center columns">
  <div class="row">
  </div>
</div>

<h1> My decks </h1>

<div id="front_page_container" class="medium-8 medium-centered text-center columns">
  <div class="row">
    <% @decks.each do |deck| %>
    <ul> <%= link_to deck.name, deck_cards_path(deck.id, 1) %> </ul>
    <% end %>
  </div>
</div>
